.password-hint {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-field input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 40px;
}

.password-container .toggle-password {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #6200ea;
}

.password-container .toggle-password:focus {
  outline: none;
}

.password-container .toggle-password:hover {
  color: #3700b3;
}

.password-container .fa {
  font-size: 18px;
}

button {
  background-color: #6200ea;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}
