<nav *ngIf="showTopNavBar" class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a class="navbar-link" (click)="goBackToMain()">Main</a>
    </li>
    <li class="navbar-item">
      <a class="navbar-link" (click)="logout()">Logout</a>
    </li>
  </ul>
</nav>

<section *ngIf="!showTopNavBar">
  <div class="menu-options">
    <h1>Welcome to task manager!</h1>
    <a class="option" (click)="goToTasks()">Tasks</a>
    <a class="option" (click)="logout()">Logout</a>
  </div>
</section>
